.bg-color {
    background-color: #00AEEF;
}


.dropdown-menu {

    min-width: 7rem;
}

.bgSection {
    background-image: url('image/bg.section.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.color {
    color: #00AEEF;
}

.btn-color {
    background-color: #A3E2F9;
}

.pxx {
    padding: 75px;
}

.custom-rounded-container {
    background-color: #008CCF;
    border-radius: 60px 60px 0 0;
    padding: 20px;
}

.color {
    color: #05B1F0;
}

.bgimg {
    /* background-image: url("https://images.squarespace-cdn.com/content/v1/621d132ccfbe47162ece3f00/ba3a6cd9-1897-4062-a694-33ac38084bc5/laptop_wCircle_v2-min.png");*/
    width: 100%;
    height: 375px;
    background-size: cover;
    background-position: center;
}

.pr {
    padding-left: 14px;
}



@media (min-width: 1200px) {
    .mT-3 {
        padding-top: 10px;
        
    }

    .pr-img {
        padding-left: 90px;
    }

    .w-80 {
        width: 80%;
    }

    .ml-100 {
        margin-left: 100px;
    }

    .mt-web {
        margin-top: 60px;

    }

    .w-70 {
        width: 90%;
    }

    .w-40 {
        width: 40%;
    }

    .btn-color {
        background-color: #A3E2F9;
    }

    .size {
        height: 90px;
    }

    .pxx {
        padding: 75px;
    }

    .mtt {
        margin-top: 15px;
    }

    .pyy {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .fsz {
        font-size: 70px;
    }

    .fs {
        font-size: 15px;
    }

    .dflex {
        display: flex;
        justify-content: space-between;
    }

    .mr {
        margin-right: 120px;
    }

    .ml {
        margin-left: 150px;
    }

    .mlfooter {
        margin-left: 75px;
    }

    .custom-mr {

        margin-right: 250px;
    }

    .custom-width {
        width: 30%;
    }

    .width {
        width: 500px;

    }

    .position {
        margin-left: 65px;
        margin-top: 60px;
    }

    .background-image {
        background-color: white;
        /* background-image: url('https://images.squarespace-cdn.com/content/v1/621d132ccfbe47162ece3f00/b2a2ccdb-4c1a-4010-8a2e-c001d78da870/desktop_wCircle.png');*/
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 500px;
    }

    .web-none {
        display: none;
    }

    .p2 {
        padding: 10px;
        width: 500px;
    }

    .size-content {
        width: 480px;
    }

}

@media (min-width:768px) and (max-width:1200px) {
    .web-none {
        display: none;
    }

    .mtt {
        margin-top: 5px;
    }

    .pyy {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .fsz {
        font-size: 25px;
    }

    .size {
        height: 90px;
    }

    .pxx {
        padding: 25px;
    }

    .whl {
        width: 150px;
        height: 150px;
    }

    .mr {
        margin-right: 0px;
    }
}

@media (max-width: 768px) and (min-width:576px) {

    .p2 {
        padding: 10px;

    }

    .mtt {
        margin-top: 5px;
    }

    .pyy {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .size {
        height: 50px;
    }

    .pxx {
        padding: 30px;
    }

    .whl {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 768px) {
    .width-mob {
        width: 230px;
    }

    .mlmd {
        padding-left: 15px;
        padding-right: 10px;
    }

    .pxx {
        padding: 30px;
    }

    .mtt {
        margin-top: 10px;
    }

    .pyy {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .p {
        padding: 100px;
    }

    .whl {
        width: 150px;
        height: 150px;
    }

    .size {
        height: 50px;
    }

    .m-top {
        margin-top: 55px;
    }

    .m-t {
        margin-top: 15px;
    }

    .w {
        width: 100%;
    }

    .mt {
        margin-top: 20px;
    }

    .background-image-mob {
        background-image: url('https://images.squarespace-cdn.com/content/v1/621d132ccfbe47162ece3f00/49e6aa62-8d85-44d0-8b3a-d59324e8dfe9/Mobile_FAQ_Shape.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: auto;
    }

    .backg-image-mob {
        /* background-image: url('https://images.squarespace-cdn.com/content/v1/621d132ccfbe47162ece3f00/75c33e12-345f-4bb7-b6b7-2e20e3994cf3/Mobile_FAQ_Desktop.png');*/
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .position {
        margin-top: 60px;
        margin-left: 5px;
        width: 100%;
        padding-right: 15px;
    }

    .fs {
        font-size: 15px;
    }

    .m-none {
        display: none;
    }

    .fsz {
        font-size: 40px;
    }
}

@media(max-width:576px) {
    .mtt {
        margin-top: 18px;
    }

    .pyy {
        padding-top: 0.3rem !important;
        padding-bottom: 0.5rem !important;
    }

    .size {
        height: 40px;
    }

    .pxx {
        padding: 25px;
    }

    .whl {
        width: 150px;
        height: 150px;
    }
}